<?xml version="1.0"?>
<robot name="cirtesub_dual_alpha" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="environment" default="sim"/>
  <xacro:arg name="lookup_csv" default="config/t200_lookup.csv"/>
  <xacro:arg name="stonefish_topic" default="/cirtesub/controller/thruster_setpoints_sim"/>
  <xacro:arg name="pwm_channels" default="0,1,2,3,4,5,6,7"/>

  <xacro:arg name="use_sim" default="true"/>
  <xacro:arg name="alpha_use_fake_hardware" default="true"/>
  <xacro:arg name="alpha_left_serial_port" default=""/>
  <xacro:arg name="alpha_right_serial_port" default=""/>
  <xacro:arg name="alpha_left_state_update_frequency" default="250"/>
  <xacro:arg name="alpha_right_state_update_frequency" default="250"/>
  <xacro:arg name="initial_positions_file" default="initial_positions.yaml"/>
  <xacro:arg name="alpha_desired_joint_states_topic" default="/cirtesub/alpha/desired_joint_states"/>
  <xacro:arg name="alpha_joint_states_topic" default="/cirtesub/alpha/joint_states"/>

  <xacro:include filename="$(find alpha_description)/xacro/alpha.urdf.xacro"/>
  <xacro:include filename="$(find alpha_description)/xacro/alpha.ros2_control.xacro"/>

  <xacro:macro name="thruster_mount" params="link_name joint_name xyz rpy">
    <link name="${link_name}"/>

    <joint name="${joint_name}" type="fixed">
      <parent link="cirtesub/base_link"/>
      <child link="${link_name}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ros2_control_thruster_joint" params="joint_name">
    <joint name="${joint_name}">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <link name="cirtesub/base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 -1.57 0"/>
      <geometry>
        <mesh filename="package://cirtesub_description/meshes/cirtesubdae.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_up_front"
    joint_name="cirtesub/Thruster_up_front"
    xyz="0.27 0.0 0.0"
    rpy="1.57 1.57 0"/>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_up_back"
    joint_name="cirtesub/Thruster_up_back"
    xyz="-0.27 0.0 0.0"
    rpy="1.57 1.57 0.0"/>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_up_left"
    joint_name="cirtesub/Thruster_up_left"
    xyz="0.0 -0.3 0.0"
    rpy="1.57 1.57 0"/>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_up_right"
    joint_name="cirtesub/Thruster_up_right"
    xyz="0.0 0.30 0.0"
    rpy="1.57 1.57 0"/>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_down_backleft"
    joint_name="cirtesub/Thruster_down_backleft"
    xyz="-0.165 -0.23 0.076"
    rpy="0 0.0 2.35619"/>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_down_backright"
    joint_name="cirtesub/Thruster_down_backright"
    xyz="-0.165 0.23 0.076"
    rpy="0 0.0 -2.35619"/>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_down_frontleft"
    joint_name="cirtesub/Thruster_down_frontleft"
    xyz="0.165 -0.23 0.076"
    rpy="0 0.0 0.785398"/>

  <xacro:thruster_mount
    link_name="cirtesub/Thruster_down_frontright"
    joint_name="cirtesub/Thruster_down_frontright"
    xyz="0.165 0.23 0.076"
    rpy="0 0.0 -0.7854"/>

  <xacro:alpha_urdf
    parent="cirtesub/base_link"
    prefix="cirtesub/alpha_left/"
    description_package="alpha_description">
    <origin xyz="0.335 -0.165 0.145" rpy="-1.57 0.0 0.0"/>
  </xacro:alpha_urdf>

  <xacro:alpha_urdf
    parent="cirtesub/base_link"
    prefix="cirtesub/alpha_right/"
    description_package="alpha_description">
    <origin xyz="0.335 0.165 0.145" rpy="1.57 0.0 0.0"/>
  </xacro:alpha_urdf>

  <ros2_control name="cirtesub_thrusters" type="system">
    <hardware>
      <plugin>thrusters_hardware_interface/ThrustersSystem</plugin>
      <param name="environment">$(arg environment)</param>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="pwm_channels">$(arg pwm_channels)</param>
    </hardware>
    <!-- Keep the same thruster order used by Stonefish. -->
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_up_front"/>
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_up_back"/>
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_up_left"/>
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_up_right"/>
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_down_backleft"/>
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_down_backright"/>
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_down_frontleft"/>
    <xacro:ros2_control_thruster_joint joint_name="cirtesub/Thruster_down_frontright"/>
  </ros2_control>

  <xacro:alpha_system
    prefix="cirtesub/alpha_left/"
    name="cirtesub/alpha_left"
    serial_port="$(arg alpha_left_serial_port)"
    state_update_frequency="$(arg alpha_left_state_update_frequency)"
    initial_positions_file="$(arg initial_positions_file)"
    description_package="alpha_description"
    desired_joint_states_topic="$(arg alpha_desired_joint_states_topic)"
    joint_states_topic="$(arg alpha_joint_states_topic)"
    use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg alpha_use_fake_hardware)"/>

  <xacro:alpha_system
    prefix="cirtesub/alpha_right/"
    name="cirtesub/alpha_right"
    serial_port="$(arg alpha_right_serial_port)"
    state_update_frequency="$(arg alpha_right_state_update_frequency)"
    initial_positions_file="$(arg initial_positions_file)"
    description_package="alpha_description"
    desired_joint_states_topic="$(arg alpha_desired_joint_states_topic)"
    joint_states_topic="$(arg alpha_joint_states_topic)"
    use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg alpha_use_fake_hardware)"/>

</robot>
