<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cirtesub" family="underwater">

  <xacro:arg name="robot_name" default="cirtesub"/>
  <xacro:arg name="environment" default="sim"/>
  <xacro:arg name="lookup_csv" default="config/a50_lookup.csv"/>
  <xacro:arg name="stonefish_topic" default="/cirtesub/controller/thruster_setpoints_sim"/>
  <xacro:arg name="thruster_lpf_alpha" default="0.2"/>
  <xacro:arg name="thruster_pwm_ramp_rate_us_per_s" default="250.0"/>
  <xacro:arg name="thruster_pwm_min_us" default="1250.0"/>
  <xacro:arg name="thruster_pwm_max_us" default="1750.0"/>

  <!-- TF -->

  <link name="$(arg robot_name)/base_link" tf_type="base">
    <visual>
      <origin xyz="0 0 0" rpy="0 -1.57 0"/>
      <geometry>
        <mesh
          filename="package://cirtesub_description/meshes/cirtesubdae.dae"
          scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -1.57 0"/>
      <geometry>
        <mesh
          filename="package://cirtesub_description/meshes/cirtesubdae_colisions.dae"
          scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <!-- Sensors -->

  <link name="$(arg robot_name)/imu_link" tf_type="sensor"/>
  <joint name="$(arg robot_name)/imu_joint" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/imu_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.57"/>
  </joint>

  <link name="$(arg robot_name)/imu_link_flu" tf_type="sensor"/>
  <joint name="$(arg robot_name)/imu_joint_flu" type="fixed">
    <parent link="$(arg robot_name)/imu_link"/>
    <child link="$(arg robot_name)/imu_link_flu"/>
    <origin xyz="0.0 0.0 0.0" rpy="3.1416 0.0 0.0"/>
  </joint>

  <link name="$(arg robot_name)/pressure_link" tf_type="sensor"/>
  <joint name="$(arg robot_name)/pressure_joint" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/pressure_link"/>
    <origin xyz="0.0 0.0 -0.05" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="$(arg robot_name)/GPS" tf_type="sensor"/>
  <joint name="$(arg robot_name)/gps_joint" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/GPS"/>
    <origin xyz="0.0 0.0 -0.40" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="$(arg robot_name)/dvl_link" tf_type="sensor"/>
  <joint name="$(arg robot_name)/dvl_joint" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/dvl_link"/>
    <origin xyz="0.0 -0.18 0.07" rpy="0.0 0.0 -1.57"/>
  </joint>

  <link name="$(arg robot_name)/down_camera/camera" tf_type="sensor"/>
  <joint name="$(arg robot_name)/down_camera/camera_joint" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/down_camera/camera"/>
    <origin xyz="-0.024 0.2 0.15" rpy="0.0 0.0 1.57"/>
  </joint>

  <link name="$(arg robot_name)/camera_down/optical_frame" tf_type="sensor"/>
  <joint name="$(arg robot_name)/camera_down/optical_frame_joint" type="fixed">
    <parent link="$(arg robot_name)/down_camera/camera"/>
    <child link="$(arg robot_name)/camera_down/optical_frame"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- Thrusters -->

  <link name="$(arg robot_name)/Thruster_up_front" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_up_front" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_up_front"/>
    <origin xyz="0.27 0.0 0.0" rpy="1.57 1.57 0"/>
  </joint>

  <link name="$(arg robot_name)/Thruster_up_back" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_up_back" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_up_back"/>
    <origin xyz="-0.27 0.0 0.0" rpy="1.57 1.57 0.0"/>
  </joint>

  <link name="$(arg robot_name)/Thruster_up_left" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_up_left" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_up_left"/>
    <origin xyz="0.0 -0.3 0.0" rpy="1.57 1.57 0"/>
  </joint>

  <link name="$(arg robot_name)/Thruster_up_right" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_up_right" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_up_right"/>
    <origin xyz="0.0 0.30 0.0" rpy="1.57 1.57 0"/>
  </joint>

  <link name="$(arg robot_name)/Thruster_down_backleft" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_down_backleft" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_down_backleft"/>
    <origin xyz="-0.165 -0.23 0.076" rpy="0 0.0 2.35619"/>
  </joint>

  <link name="$(arg robot_name)/Thruster_down_backright" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_down_backright" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_down_backright"/>
    <origin xyz="-0.165 0.23 0.076" rpy="0 0.0 -2.35619"/>
  </joint>

  <link name="$(arg robot_name)/Thruster_down_frontleft" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_down_frontleft" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_down_frontleft"/>
    <origin xyz="0.165 -0.23 0.076" rpy="0 0.0 0.785398"/>
  </joint>

  <link name="$(arg robot_name)/Thruster_down_frontright" tf_type="thruster"/>
  <joint name="$(arg robot_name)/Thruster_down_frontright" type="fixed">
    <parent link="$(arg robot_name)/base_link"/>
    <child link="$(arg robot_name)/Thruster_down_frontright"/>
    <origin xyz="0.165 0.23 0.076" rpy="0 0.0 -0.7854"/>
  </joint>

  <!-- ROS2 CONTROL -->

  <ros2_control name="$(arg robot_name)_thrusters" type="system">
    <hardware>
      <plugin>sura_hardware_interface/ThrustersSystem</plugin>
      <param name="environment">$(arg environment)</param>
      <param name="thruster_lpf_alpha">$(arg thruster_lpf_alpha)</param>
      <param name="thruster_pwm_ramp_rate_us_per_s">$(arg thruster_pwm_ramp_rate_us_per_s)</param>
      <param name="thruster_pwm_min_us">$(arg thruster_pwm_min_us)</param>
      <param name="thruster_pwm_max_us">$(arg thruster_pwm_max_us)</param>
    </hardware>

    <joint name="$(arg robot_name)/Thruster_up_front">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">false</param>
      <param name="pwm_offset">3.0</param>
      <param name="channel">2</param>

      <param name="controller">thruster_test_controller</param>
      <param name="controller">body_force</param>
      <param name="controller">body_velocity</param>
      <param name="controller">position_hold</param>
      <param name="controller">stabilize</param>
      <param name="controller">depth_hold</param>
    </joint>

    <joint name="$(arg robot_name)/Thruster_up_back">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">false</param>
      <param name="pwm_offset">8.0</param>
      <param name="channel">5</param>
    </joint>

    <joint name="$(arg robot_name)/Thruster_up_left">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">true</param>
      <param name="pwm_offset">3.0</param>
      <param name="channel">1</param>
    </joint>

    <joint name="$(arg robot_name)/Thruster_up_right">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">true</param>
      <param name="pwm_offset">3.0</param>
      <param name="channel">4</param>
    </joint>

    <joint name="$(arg robot_name)/Thruster_down_backleft">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">true</param>
      <param name="pwm_offset">0.0</param>
      <param name="channel">6</param>
    </joint>

    <joint name="$(arg robot_name)/Thruster_down_backright">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">true</param>
      <param name="pwm_offset">10.0</param>
      <param name="channel">15</param>
    </joint>

    <joint name="$(arg robot_name)/Thruster_down_frontleft">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">false</param>
      <param name="pwm_offset">0.0</param>
      <param name="channel">3</param>
    </joint>

    <joint name="$(arg robot_name)/Thruster_down_frontright">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
      <param name="lookup_csv">$(arg lookup_csv)</param>
      <param name="stonefish_topic">$(arg stonefish_topic)</param>
      <param name="inverted">false</param>
      <param name="pwm_offset">0.0</param>
      <param name="channel">0</param>
    </joint>
  </ros2_control>

  <ros2_control name="$(arg robot_name)_sensors" type="system">
    <hardware>
      <plugin>sura_hardware_interface/SensorsSystem</plugin>
      <param name="environment">$(arg environment)</param>
      <param name="robot_namespace">$(arg robot_name)</param>
    </hardware>

    <sensor name="imu_sensor">
      <param name="interface">sura_hardware_interface/ImuInterface</param>
      <param name="broadcaster">imu_broadcaster</param>
      <param name="read_rate_hz">200.0</param>
      <param name="frame_id">$(arg robot_name)/imu_link</param>
      <param name="stonefish_topic">/$(arg robot_name)/stonefish/sensors/imu</param>
      <param name="msg_type">sensor_msgs/msg/Imu</param>

      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
      <state_interface name="angular_velocity.x"/>
      <state_interface name="angular_velocity.y"/>
      <state_interface name="angular_velocity.z"/>
      <state_interface name="linear_acceleration.x"/>
      <state_interface name="linear_acceleration.y"/>
      <state_interface name="linear_acceleration.z"/>
      <state_interface name="sample_time.sec"/>
      <state_interface name="sample_time.nanosec"/>
    </sensor>

    <sensor name="magnetometer_sensor">
      <param name="interface">sura_hardware_interface/MagnetometerInterface</param>
      <param name="broadcaster">magnetometer_broadcaster</param>
      <param name="read_rate_hz">200.0</param>
      <param name="frame_id">$(arg robot_name)/imu_link</param>
      <param name="stonefish_topic">/$(arg robot_name)/stonefish/sensors/magnetometer</param>
      <param name="msg_type">sensor_msgs/msg/MagneticField</param>

      <state_interface name="magnetic_field.x"/>
      <state_interface name="magnetic_field.y"/>
      <state_interface name="magnetic_field.z"/>
      <state_interface name="sample_time.sec"/>
      <state_interface name="sample_time.nanosec"/>
    </sensor>

    <sensor name="pressure_sensor">
      <param name="interface">sura_hardware_interface/PressureInterface</param>
      <param name="broadcaster">pressure_broadcaster</param>
      <param name="read_rate_hz">50.0</param>
      <param name="frame_id">$(arg robot_name)/pressure_link</param>
      <param name="stonefish_topic">/$(arg robot_name)/stonefish/sensors/pressure</param>
      <param name="msg_type">sensor_msgs/msg/FluidPressure</param>

      <state_interface name="fluid_pressure"/>
    </sensor>

    <sensor name="battery_sensor">
      <param name="interface">sura_hardware_interface/BatteryInterface</param>
      <param name="broadcaster">battery_broadcaster</param>
      <param name="read_rate_hz">2.0</param>
      <param name="frame_id">$(arg robot_name)/base_link</param>
      <param name="stonefish_topic">/$(arg robot_name)/stonefish/sensors/battery</param>

      <state_interface name="voltage"/>
      <state_interface name="current"/>
      <state_interface name="present"/>
    </sensor>

    <sensor name="dvl_sensor">
      <param name="interface">sura_hardware_interface/DvlA50Interface</param>
      <param name="broadcaster">dvla50_broadcaster</param>
      <param name="broadcaster">dvla50_twist_stamped_broadcaster</param>
      <param name="read_rate_hz">10.0</param>
      <param name="frame_id">$(arg robot_name)/dvl_link</param>

      <param name="dvl_ip">192.168.1.95</param>
      <param name="dvl_port">16171</param>
      <param name="dvl_timeout_s">1.0</param>
      <param name="sim_fom">0.0</param>

      <param name="stonefish_topic">/$(arg robot_name)/stonefish/sensors/dvl/twist</param>
      <param name="stonefish_altitude_topic">/$(arg robot_name)/stonefish/sensors/dvl/altitude</param>
      <param name="msg_type">geometry_msgs/msg/TwistStamped</param>

      <state_interface name="linear_velocity.x"/>
      <state_interface name="linear_velocity.y"/>
      <state_interface name="linear_velocity.z"/>
      <state_interface name="fom"/>
      <state_interface name="altitude"/>
      <state_interface name="velocity_valid"/>
      <state_interface name="status"/>
      <state_interface name="time"/>
      <state_interface name="format_code"/>

      <state_interface name="beam0.id"/>
      <state_interface name="beam0.velocity"/>
      <state_interface name="beam0.distance"/>
      <state_interface name="beam0.rssi"/>
      <state_interface name="beam0.nsd"/>
      <state_interface name="beam0.valid"/>

      <state_interface name="beam1.id"/>
      <state_interface name="beam1.velocity"/>
      <state_interface name="beam1.distance"/>
      <state_interface name="beam1.rssi"/>
      <state_interface name="beam1.nsd"/>
      <state_interface name="beam1.valid"/>

      <state_interface name="beam2.id"/>
      <state_interface name="beam2.velocity"/>
      <state_interface name="beam2.distance"/>
      <state_interface name="beam2.rssi"/>
      <state_interface name="beam2.nsd"/>
      <state_interface name="beam2.valid"/>

      <state_interface name="beam3.id"/>
      <state_interface name="beam3.velocity"/>
      <state_interface name="beam3.distance"/>
      <state_interface name="beam3.rssi"/>
      <state_interface name="beam3.nsd"/>
      <state_interface name="beam3.valid"/>
    </sensor>
  </ros2_control>

</robot>
